.luxurious-banquet {
  background-color: #fff;

  .icon-circle {
    background-color: #1a120b;
    color: #fff;
    font-size: 1.5rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  h2 {
    color: #1a120b;
  }

  h5 {
    color: #1a120b;
  }

  p {
    font-size: 1rem;
    color: #555;
  }

  .banquet-img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 1rem;
  }
}
