<<<<<<< HEAD
$primary: #c7a450;
$secondary: #8a693b;
$text: #fff;
$background: #111;
=======
body{
    background-color: #000;
    color: #fff;    
}
.section-title {
  text-align: left;
>>>>>>> 84015567f22b8e7ae6c40d30b9df8629b1b29edb

  .subtitle {
    font-size: 14px;
    letter-spacing: 1px;
    color: #c7a450;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #c7a450;
    margin-bottom: 10px;
  }

  .title {
    font-size: 36px;
    font-family: "Georgia", serif;
    font-weight: 700;
    color: #f2d48a;
  }
}
